@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");

:root {
  --font-light: #fafafa;
  --font-medium: #5c5c5c;
  --font-dark: #252525;
  --background-white: #fefefe;
  --background-light: #dfdfdf;
  --background-medium: #b3b3b3;
  --background-dark: #6d6d6d;
  --background-black: #202020;
}

/* ------------------------------------------------------- */
/* ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
}

html {
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-white);
}

.project-container {
  background-color: var(--background-light);
}
/* ------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------- */
header {
  height: auto;
  min-height: 40vh;
  background-color: var(--background-medium);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.nav-bar {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
  width: 60px;
}

.top-nav {
  display: flex;
}

.top-nav-item {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--font-light);
  margin-left: 50px;
  border: 2px solid transparent;
}

.top-nav-item:hover {
  border-bottom: 2px solid var(--font-light);
  transition: border-bottom 0.3s;
}

.page-title-container {
  display: flex;
  min-height: 160px;
}

.page-title {
  text-align: center;
  font-size: 4rem;
  margin: auto;
}

/* ------------------------------------------------------- */
/* INTRO */
/* ------------------------------------------------------- */

.projects-intro {
  height: auto;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 50px;
}

.projects-intro h2,
.projects-intro p {
  text-align: center;
}

.intro-img {
  width: 120px;
  margin: auto;
}

/* ------------------------------------------------------- */
/* PROJECTS */
/* ------------------------------------------------------- */

.project-container {
  border: 2px solid yellow;
}

.project {
  border: 1px solid blue;
  height: auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-img {
  width: 70%;
  margin: 0 auto;
}
